@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
}


h1{
    font-weight: bold;
    font-size: 5rem;
    margin: .7rem 0 .8rem;
    text-align: center;
}

h2{
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0 0 .8rem;
    padding-top: 3rem;
    text-align: center;
}

h3{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    padding: 0 5rem;
    margin: 0;
}

.main-container{
    position: relative;
    /* background: url("img/aaa.jpg") no-repeat center center/cover; */
    background-color: black;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    /* color: #f79ac0; */
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.title{
    z-index: 2;
}

.countdown-container{
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.big-text{
    font-weight: bold;
    font-size: 5.5rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span{
    font-size: 1.3rem;
}


@media(max-width: 500px){
    .main-container{
        background: url("img/bbb.jpg") no-repeat center center/cover;
        width: 100%;
    }

    h1{
        font-weight: normal;
        font-size: 5rem;
    }

    h2{
        font-weight: normal;
        font-size: 3rem;
        padding: 0;
        margin: 0 0 2rem;
    }

    h3{
        font-weight: normal;
        font-size: 2rem;
    }

    .big-text{
        font-size: 3rem;
    }
}